<h1>Edit Vim Tip</h1>

<div class="formContainer">

  <%= form_for(@tip, :action => resource(@tip) ) do %>
    <p><%= text_area :body, :rows => 5, :cols => 30, :label => "Body" %></p>
    <p><label>Characters Left</label><span id="char-count">140</span></p>
    <div class="submitContainer"><%= submit "Update" %></div>
  <% end =%>

</div>
